In [2]:
import haversine as hs
import pandas as pd

In [4]:
df = pd.read_excel('lat_long.xlsx')
df

                 Plataforma  Latitude  Longitude
0     FPSO CIDADE DE PARATY -25.39348 -42.761260
1     FPSO CIDADE DE MARICÁ -25.44787 -42.752990
2  FPSO CIDADE DE SÃO PAULO -25.79843 -43.262620
3     FPSO CIDADE DE SANTOS -24.18360 -42.425094
4    FPSO CIDADE DE ITAGUAÍ -25.13999 -42.944170

# Calculo de Distancias Lat e Long

In [11]:
dist = {}
for i in range(df.shape[0]):
    for j in range(df.shape[0]):
        if i != j:
            dist[str(i+1)+'-'+str(j+1)] = hs.haversine((df.loc[i]['Latitude'],df.loc[i]['Longitude']),(df.loc[j]['Latitude'],df.loc[j]['Longitude']),unit=hs.Unit.METERS)/1000
len(dist)

20